{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-console": "warn",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react-native/no-inline-styles": 2,
    "react-native/no-color-literals": 2,
    "react-native/no-raw-text": 2,
    "react-native/no-single-element-style-arrays": 2,
    "react-native/no-used-vars": 2,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "env": {
    "es6": true,
    "browser": true,
    "amd": true,
    "node": true,
    "react-native/react-native": true
  },
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "eslint:recommended",
    "react-app",
    "plugin:react-native/all",
    "plugin:react-hooks/recommended"
  ],
  "globals": {
    "React": true,
    "google": true,
    "mount": true,
    "mountWithRouter": true,
    "shallow": true,
    "shallowWithRouter": true,
    "context": true,
    "expect": true,
    "jsdom": true,
    "JSX": true
  },
  "plugins": [
    "@typescript-eslint",
    "react",
    "react-hooks",
    "react-native",
    "react-hooks"
  ],
  "overrides": [
    {
      "files": ["**/*.ts?(x)"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": [
          "error",
          { "allowExpressions": true, "allowTypedFunctionExpressions": true }
        ],
        "@typescript-eslint/no-use-before-define": [
          "error",
          {
            "functions": false,
            "classes": true,
            "variables": true,
            "typedefs": true
          }
        ],
        "no-unused-vars": [
          "off",
          { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }
        ]
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}
